<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Constants.PRODUCT_NAME</title>

    <link rel="stylesheet" href="~/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/js/jquery/jquery.js"></script>
    
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@Constants.PRODUCT_NAME (@Utils.DetermineToolVersion()) is an open source project. For issues or feedback visit the <a href="https://github.com/aws/aws-lambda-dotnet/tree/master/Tools/LambdaTestTool">AWS Lambda for .NET Core GitHub repository.</a></p>
        </footer>
    </div>

    <script src="~/js/bootstrap/bootstrap.js"></script>    


    @RenderSection("Scripts", required: false)
</body>
</html>
